.hdng{
    font-size: xx-large;
    margin: 22px;
    margin-left: 400px;
    text-decoration: underline;
    text-decoration-color: rgb(158, 40, 40);
    
}
.dtl{
    border: 2px solid red;
    margin: top -50px;
    font-size: x-large;
    color: white;
}
.updt{
    margin-left: 1025px;
}
.bdy{
    background-image: url();
}
